//colors
$grey:        #8b8c8c;
$grey-light:  #eff0f2;

$red:         #d60e15;
$blue:        #0f4695;
$fb:          #3B5998;
$twitter:     #6CADDE;
$pinterest:   #bd081c;
$youtube:     #e52d27;
$instagram:   #125688;


$defaul-text: #000;


//colors for boxes on the right
$box-blue:            $blue;
$box-red:             $red;
$box-grey:            $grey;
$box-grey-light:      $grey-light;
